.center-block {
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
  align-items: center; 
}

.center-block-content {
  justify-content: center;
}

.center-block-text {
  color: var(--gray30);
  font-family: 'Rubik Doodle Shadow';
  font-size: 5em;
  text-align: center;
  text-transform: capitalize;
}

.center-block-text2 {
  font-size: 25px;
  text-align: center;
  font-family: 'Montserrat';
  color: var(--gray10);
}

@media (max-width: 768px) {
  .center-block-text {
    font-size: 4em;
  }
}