.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 133px;
  background-color: var(--gray70);
}

.footer-content {
  padding: 20px;
}

.footer-content a{
  color: var(--gray10);
  font-size: 25px;
  padding: 0px 2px 0px 2px;
}

.footer-content a:hover{
  color: var(--accent);
  transition: 0.2s;
}

.footer-content2 p{
 font-size: 22px;
 text-align: center;
 font-family: 'Montserrat';
 color: var(--gray10);
}