.main-header-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 40px 50px;
}

.header-logo{
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 40px;
}

.header-logo img {
  margin: 3px;
  height: 32px;
}

.header-logo p {
  padding-left: 10px;
}

.header-menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; 
  font-family: 'Montserrat';
  font-size: 18px;
}

.header-menu a {
  padding-left: 10px;
  text-decoration: none;
  color: var(--gray10);
}

.header-menu a:hover{
  color: var(--accent);
  transition: 0.2s;
}