.main-header-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.header-logo{
  display: flex;
  align-items: center;
  margin: 10px;
}

.header-logo img {
  margin: 3px;
  height: 32px;
}

.header-logo p{
  padding-left: 10px;
}

.header-menu ul{
  display: flex;
  flex-direction: row;
}

.header-menu li {
  padding: 10px;
  list-style: none;
}