* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
}

html {
  background: url(../pattern.png);
}

body {
  background-color: #ccd0cf;
  margin: 0 auto;
  width: calc(var(--index) * 50);
  /* width: 90%; */
  /* position: absolute; */
  /* left: 11vw; */
}

.main-header-top {
  background-color: black;
  display: flex;
  align-items: center;
  height: calc(var(--index) * 2);
  font: 1.2em / 1.2 monospace, sans-serif;
}

.header-logo img {
  width: calc(var(--index) * 1);
}

.main-header-top ul {
  list-style-type: none;
  flex: 2;
  display: flex;
}

.main-header-top li {
  display: inline;
  /* margin-left: 20px; */
  
}

.main-header-top a {
  color: #fff;
  text-decoration: none;
  padding: 1.2em 2em;
}

.main-header-top a:hover {
  background-color: #11212d9f;
  color:#9BA8AB;
}

main {
  padding: 1.2em 2em;
  font-size: 1.3em;
  display: block;
  /* font-size: calc(var(--index) * 0.6); */
  /* width: calc(var(--index) * 45); */
  /* margin: 0 auto; */
}

p {
  text-indent: 20px;
  line-height: 1.5;
  
}

h1, h3 {
  background-color: gainsboro;
}
 
pre {
  background-color: #e1e1e1b3;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

code {
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
}

.notextIndent, pre {
  text-indent: -5px;
}

.ul-tablica {
  list-style-type: none;
}

/* .iframe-code {
  width: 500px;
  height: 200px;
  box-shadow: 5px 5px 5px #444;
} */

footer {
  padding: 1%;
  margin-top: 10px;
  border-top: 3px solid #bbb6b065;
}