
@font-face {
  font-weight: 100;
  font-family: Roboto;
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-weight: 100;
  font-family: Roboto;
  src: url(../fonts/Roboto-ThinItalic.ttf);
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
}

/* @font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url(../fonts/Roboto-BoldItalic.ttf);
} */

html {
  /*background-color: #a9a9a9;*/
  background: url(../pattern.png);
}

body {
  width: 90%;
  margin: 0 auto;
  background-color: #253745ac;

  /* предыдущий цвет фона */
  /* background-color: #ffffff; */
  /* background-color: #eae6e3c6; */

  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  /* font: 1.2em / 1.2 Arial, Helvetica, sans-serif; */
  /*min-width: 1000px;*/
  /* max-width: 2000px; */
}

.logo {
  color: white;
  font-size: 150%;
  height: 100px;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}


.main-header-top {
  /* max-width: 2000px; */
  background-color: #000;
  padding: .5em;
  height: 26px;
  display: flex;
  align-items: center;
}

.main-header-top ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
  
}

.main-header-top li {
  display: inline;
}

.main-header-top a {
  color: #fff;
  text-decoration: none;
  padding: .5em 1em;

}

.main-header-top a:hover {
  background-color: #bbb6b065;
}

.main-header-top a:active {
  border: 0px inset rgba(255, 255, 255, 0);
  background: grey;
  color: black;
  border-radius: 0px;
}

.header-logo img {
  width: 30px;
  height: 30px;
  /* padding-left: 200px; */
}

main {
  max-width: 1300px;
  margin: 10px auto;
  background-color:whitesmoke;
  /* старый вариант: */
  /* background-color: #eae6e365; */
  padding: 0 20px 20px 20px;
  border: 2px solid #bbb6b0ec;
  display: block;
} 

nav {
  float: left;
 
}

nav a {
  text-decoration: none;
  color: #000;
  line-height: 3;
  border: 1px solid black;
  display: block;
  width: 150px;
  height: 50px;
  margin: .9em;
}

nav a:hover {
  background: #bbb6b065;
  color: white;
}

nav ul {
  list-style-type: none;
  text-align: center; 
}

p {
  text-indent: 20px;
  line-height: 1.4;
}

h1, h3 {
  background-color: rgba(220, 220, 220, 0.464);
  /* background-color: gainsboro; */
}

/* code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
} */

/* pre {
  max-width: 850px;
  height: 150px;
  box-shadow: 5px 5px 5px #444;
  border: 2px solid #bbb6b0fa;
  padding: 20px;
  overflow: auto;
} */
 
pre {
  background-color: #e1e1e1b3;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

code {
  background-color: #e1e1e16d;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 17px;
}

.notextIndent, pre {
  text-indent: -5px;
}

.ul-tablica {
  list-style-type: none;
}

.iframe-code {
  width: 400px;
  height: 200px;
  box-shadow: 5px 5px 5px #444;
  /*
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  */
}

footer {
  color: white;
  padding: 1%;
  margin-top: 10px;
  border-top: 3px solid #bbb6b065;
}

.youtube-iframe {
  float: left;
  margin: 0 10px 5px 10px;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

li{
  line-height: 1.7; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table, th, td {
  border: 1px solid #ddd;
}
th, td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

.result {
  width: 100%;
  border: 2px solid gainsboro;
  
}

.resultP {
  background-color: rgba(220, 220, 220, 0.462);
  margin-top: 0;
  border-bottom: 1px solid black;
}

/* 
-МЕДИА ЗАПРОСЫ-
*/

@media (max-width: 550px) {
  body {
    width: 100%;
  }

  main {
    min-height: 57vh;
  }

  .logo {
    font-size: 90%;
    text-align: center;
  }

  .iframe-code {
    width: 350px;
  }

  footer {
    text-align: center;
  }

  pre {
    background-color: #e1e1e1b3;
    padding: 10px;
    border-radius: 4px;
    display: block;
    /* text-wrap: wrap; */
    /* overflow-wrap: break-word; */
    
    overflow: auto;
  }
  
  code {
    /* background-color: #e1e1e16d; */
    padding: 2px 4px;
    border-radius: 4px;
    font-family: monospace;
    font-size: 12px;
  }
}

@media (min-width: 1920px) {
  .header-logo img {
    padding-left: 200px;
  }
}

@media (min-width: 2560px) {
  .header-logo img {
    padding-left: 500px;
  }
}