/* GLOBAL */

:root {
  /* colors */
  --gray10: hsl(0, 0%, 10%);
  --gray30: hsl(0, 0%, 30%);
  --gray50: hsl(0, 0%, 50%);
  --gray70: hsl(0, 0%, 70%);
  --gray90: hsl(0, 0%, 90%);
  --accent: hsl(153, 71%, 59%);
  --bs-yellow: #ffc107;
  --bs-blue: #0d6efd;
}

html {
  box-sizing: border-box;
  display: block;
  /* background: url(../pattern.png); */
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: monospace;
  overflow-y: scroll;
  scrollbar-color: rgb(28, 29, 33) rgb(54, 55, 61);
  scrollbar-width: thin;
  text-align: start;
  text-size-adjust: 100%;
}

.left-menu {
  position: fixed;
  top: 0px;
  width: 260px;
  z-index: 10;
  border: 2px solid var(--accent);
}

.logo {
  height: 75px;
  text-align: center;
}

.left-menu-content-wrapper {
  max-height: 100%;
  max-width: 100%;
  border: 2px solid var(--bs-blue);
}
